<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.websocket.health.mapper.MedicatedFoodMapper">

    <resultMap id="BaseResultMap" type="com.websocket.health.pojo.MedicatedFood">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="material" column="material" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="good" column="good" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        source,introduce,photo,
        material,method,good
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from medicated_food
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from medicated_food
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.websocket.health.pojo.MedicatedFood" useGeneratedKeys="true">
        insert into medicated_food
        ( id,name,type
        ,source,introduce,photo
        ,material,method,good
        )
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{type,jdbcType=INTEGER}
        ,#{source,jdbcType=VARCHAR},#{introduce,jdbcType=VARCHAR},#{photo,jdbcType=VARCHAR}
        ,#{material,jdbcType=VARCHAR},#{method,jdbcType=VARCHAR},#{good,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.websocket.health.pojo.MedicatedFood" useGeneratedKeys="true">
        insert into medicated_food
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="type != null">type,</if>
                <if test="source != null">source,</if>
                <if test="introduce != null">introduce,</if>
                <if test="photo != null">photo,</if>
                <if test="material != null">material,</if>
                <if test="method != null">method,</if>
                <if test="good != null">good,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="type != null">#{type,jdbcType=INTEGER},</if>
                <if test="source != null">#{source,jdbcType=VARCHAR},</if>
                <if test="introduce != null">#{introduce,jdbcType=VARCHAR},</if>
                <if test="photo != null">#{photo,jdbcType=VARCHAR},</if>
                <if test="material != null">#{material,jdbcType=VARCHAR},</if>
                <if test="method != null">#{method,jdbcType=VARCHAR},</if>
                <if test="good != null">#{good,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.websocket.health.pojo.MedicatedFood">
        update medicated_food
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=INTEGER},
                </if>
                <if test="source != null">
                    source = #{source,jdbcType=VARCHAR},
                </if>
                <if test="introduce != null">
                    introduce = #{introduce,jdbcType=VARCHAR},
                </if>
                <if test="photo != null">
                    photo = #{photo,jdbcType=VARCHAR},
                </if>
                <if test="material != null">
                    material = #{material,jdbcType=VARCHAR},
                </if>
                <if test="method != null">
                    method = #{method,jdbcType=VARCHAR},
                </if>
                <if test="good != null">
                    good = #{good,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.websocket.health.pojo.MedicatedFood">
        update medicated_food
        set 
            name =  #{name,jdbcType=VARCHAR},
            type =  #{type,jdbcType=INTEGER},
            source =  #{source,jdbcType=VARCHAR},
            introduce =  #{introduce,jdbcType=VARCHAR},
            photo =  #{photo,jdbcType=VARCHAR},
            material =  #{material,jdbcType=VARCHAR},
            method =  #{method,jdbcType=VARCHAR},
            good =  #{good,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
